# OS junk
.DS_Store
Thumbs.db

# Node / package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Build outputs
dist/
dist-ssr/
*.zip

# Vite
.vite/
.cache/
.temp/

# Env
.env
.env.*
!.env.example

# Editors/IDE
.vscode/
.idea/
*.swp

# Testing/coverage
coverage/
jest-cache/
